<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CDDHackathonWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>publish</servlet-name>
    <servlet-class>it.camera.hackathon.cddhackathon2014.servlet.PublishServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>publish</servlet-name>
    <url-pattern>/publish</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>it.camera.hackathon.cddhackathon2014.servlet.InitServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>init</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginSuccessful</servlet-name>
    <servlet-class>it.camera.hackathon.cddhackathon2014.servlet.LoginSuccessfulServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginSuccessful</servlet-name>
    <url-pattern>/loginSuccessful</url-pattern>
  </servlet-mapping>
</web-app>